<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>ocenjevanje</title>

<style type="text/css">
<!--
.style2 {font-size: x-small}
.style4 {font-size: x-small; font-weight: bold; }
.style6 {font-size: x-small; font-weight: bold; color: #999999; }
-->
</style>
<body  bgcolor="#FFFED2"> 

<form action="aktivnosti.php" method="post" accept-charset="utf-8">
  
  <table width="1186" border="2" cellpadding="0" cellspacing="0" bordercolor="#FFFF66">
    <tr>
      <td width="87" bgcolor="#FFFED2">##NAMES##</td>

##IF_ADMIN##
      <td width="87" bgcolor="#FFFED2">##ASSNAMES##</td>
      <td width="87" bgcolor="#FFFED2">##DAY##</td>
      <td width="87" bgcolor="#FFFED2">##MONTH##</td>
      <td width="87" bgcolor="#FFFED2">##YEAR##</td>
##IF_ADMIN##

      <td width="81" bgcolor="#FFFED2"><span class="text">##WORK##</span></td>
      <td width="9" bgcolor="#FFFED2">&nbsp;</td>
      <td width="1" bgcolor="#FFFED2"></td>
      <td width="52" bgcolor="#FFFED2"><span class="text">
      <td width="87" bgcolor="#FFFED2">##STARTTIMEHOUR##</td>
      <td width="87" bgcolor="#FFFED2">##STARTTIMEMIN##</td>
      <td width="87" bgcolor="#FFFED2">##STOPTIMEHOUR##</td>
      <td width="87" bgcolor="#FFFED2">##STOPTIMEMIN##</td>
      <td width="87" bgcolor="#FFFED2">##PAUSEHOURTIME##</td>
      <td width="87" bgcolor="#FFFED2">##PAUSEMINTIME##</td>
      <td width="87" bgcolor="#FFFED2">##RATING##</td>



      </span></td>
  <td width="52" bgcolor="#FFFED2"><span class="text">


      </span></td>
      <td width="4" bgcolor="#FFFED2">&nbsp;</td>
    <td width="52" bgcolor="#FFFED2"><span class="text">


      </span></td>
<td width="52" bgcolor="#FFFED2"><span class="text">




      </span></td>
      <td width="6" bgcolor="#FFFED2">&nbsp;</td>
      <td width="52" bgcolor="#FFFED2"><span class="text">









      </span></td>
  <td width="52" bgcolor="#FFFED2"><span class="text">
  
      </span></td>
      <td width="106" bgcolor="#FFFED2"><div align="center">

<!--
   <select name="assessment">
          <option value="1">1
          <option value="2">2
          <option selected value="3">3
          <option value="4">4
          <option value="5">5
        </select>
      </div></td>
-->
  <td width="86" bgcolor="#FFFED2"><span class="text">



      <textarea name="note" id="note" cols="10" rows="1"></textarea>
      </span></td>
      <td width="294" bgcolor="#FFFED2"><span class="text">
      <input type="submit" name="add" id="add" value="    Shrani    " />##MESSAGE##
      </span> </td>
    </tr>
  </table>
